# **1. Importación de las librerías y almacenamiento local de los archivos csv**

*   Librerías: Pandas y Requests
*   Fuente de los datos: Google Sheets (public)

Los archivos fuentes serán utilizados en tu proyecto para obtener de ellos todo lo
necesario para popular la base de datos. El proyecto deberá:
### ● Obtener los 3 archivos de fuente utilizando la librería requests y
almacenarse en forma local (Ten en cuenta que las urls pueden cambiar en
un futuro):

*   Datos Argentina - Museos
*   Datos Argentina - Salas de Cine
*   Datos Argentina - Bibliotecas Populares


### ● Organizar los archivos en rutas siguiendo la siguiente estructura:
“categoría\año-mes\categoria-dia-mes-año.csv”
* Por ejemplo: “museos\2021-noviembre\museos-03-11-2021”
* Si el archivo existe debe reemplazarse. La fecha de la nomenclatura
es la fecha de descarga.

In [690]:
import pandas as pd
import requests
from datetime import date

today = date.today()
today = today.strftime("%d-%m-%Y")
today

r = requests.get('https://docs.google.com/spreadsheet/ccc?key=1PS2_yAvNVEuSY0gI8Nky73TQMcx_G1i18lm--jOGfAA&output=csv')
open(f'museos/2022-octubre/museos-{today}.csv', 'wb').write(r.content)
df1 = pd.read_csv(f'museos/2022-octubre/museos-{today}.csv')
df1['subcategoria'].fillna('Museos', inplace=True)
df1.head()

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,categoria,subcategoria,provincia,localidad,nombre,direccion,...,Mail,Web,Latitud,Longitud,TipoLatitudLongitud,Info_adicional,fuente,jurisdiccion,año_inauguracion,actualizacion
0,6588100,6,6588,NaN,Espacios de Exhibición Patrimonial,Museos,Buenos Aires,9 de julio,Archivo Y Museo Histórico Gral. Julio De Vedia,Libertad 1191,...,archivoymuseo@yahoo.com.ar,www.portaldel9.com.ar,-354.417.620,-608.875.980,Localización precisa,NaN,DNPyM,Municipal,1920.0,2017
1,6077010,6,6077,NaN,Espacios de Exhibición Patrimonial,Museos,Buenos Aires,Arrecifes,Museo Y Archivo Histórico De Arrecifes,Gerardo Risso y España,...,museoarrecifes@hotmail.com,NaN,-340.669.700,-601.025.550,Localización precisa,NaN,DNPyM,Municipal,1972.0,2017
2,6035010,6,6035,NaN,Espacios de Exhibición Patrimonial,Museos,Buenos Aires,Avellaneda,Museo Histórico-Sacro Hno. Rogelio Scortegagna,Calle 11 (Av. San Martín) Nº 830,...,NaN,NaN,-291.180.240,-596.545.430,Localización precisa,NaN,DNPyM,Municipal,NaN,2017
3,6035010,6,6035,NaN,Espacios de Exhibición Patrimonial,Museos,Buenos Aires,Avellaneda,Museo Municipal De Artes Plásticas De Avellaneda,"Sarmiento 101, 1 º Piso",...,NaN,NaN,-346.621.100,-583.632.700,Localización precisa,NaN,DNPyM,Municipal,1956.0,2017
4,6049020,6,6049,NaN,Espacios de Exhibición Patrimonial,Museos,Buenos Aires,Azul,Museo Etnográfico Y Archivo Histórico Enrique ...,Bartolomé J. Ronco 654,...,museoazul@yahoo.com,NaN,-367.818.240,-598.586.360,Localización precisa,NaN,DNPyM,Privada,1949.0,2017

In [691]:
df1.pivot_table(index='subcategoria', aggfunc='count', values='nombre')

              nombre
subcategoria
Museos          1182

In [692]:
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=1o8QeMOKWm4VeZ9VecgnL8BWaOlX5kdCDkXoAph37sQM&output=csv')
open(f'cines/2022-octubre/cines-{today}.csv', 'wb').write(r.content)
df2 = pd.read_csv(f'cines/2022-octubre/cines-{today}.csv')
df2.head()

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,Categoría,Provincia,Departamento,Localidad,Nombre,Dirección,...,Información adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,año_actualizacion
0,10049030,10,10049,NaN,Salas de cine,Catamarca,Capital,Catamarca,Cinemacenter,Intendente Mamerto Medina 220,...,NaN,-2.846.473.700,-6.580.067.500,Localización precisa,INCAA / SInCA,Privado comercial,5,743,NaN,2018
1,10091150,10,10091,NaN,Salas de cine,Catamarca,Santa Maria,Santa María,Centro Cultural San Agustín,San Martin 173,...,NaN,-2.669.385.900,-6.604.905.800,Localización precisa,INCAA / SInCA,Privado comercial,1,440,0,2018
2,22140060,22,22140,NaN,Salas de cine,Chaco,San Fernando,Resistencia,Los Cines De La Costa,Av. Sarmiento 2600,...,NaN,-2.743.099.500,-5.896.267.200,Localización precisa,INCAA / SInCA,Privado comercial,5,820,NaN,2018
3,26091020,26,26091,NaN,Salas de cine,Chubut,Sarmiento,Sarmiento,Deborah Jones De Williams,Reg. Inf. Mec. 25 Esquina 20 De Junio,...,NaN,-4.559.437.400,-6.906.959.400,Localización precisa,INCAA / SInCA,Público municipal,1,80,NaN,2018
4,18007010,18,18007,NaN,Salas de cine,Corrientes,Bella Vista,Bella Vista,Fantasio,Salta 1059,...,NaN,-2.850.849.400,-5.904.546.400,Localización precisa,INCAA / SInCA,Privado comercial,1,240,NaN,2018

In [693]:
df2.pivot_table(index='Categoría', aggfunc='count', values='Nombre')

               Nombre
Categoría
Salas de cine     329

In [694]:
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=1udwn61l_FZsFsEuU8CMVkvU2SpwPW3Krt1OML3cYMYk&output=csv')
open(f'bibliotecas/2022-octubre/bibliotecas-{today}.csv', 'wb').write(r.content)
df3 = pd.read_csv(f'bibliotecas/2022-octubre/bibliotecas-{today}.csv')
df3.head()

,Cod_Loc,IdProvincia,IdDepartamento,Observacion,Categoría,Subcategoria,Provincia,Departamento,Localidad,Nombre,...,Mail,Web,Información adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,Tipo_gestion,año_inicio,Año_actualizacion
0,70049060,70,70049,NaN,Bibliotecas Populares,NaN,San Juan,Iglesia,Rodeo,Biblioteca Popular Juan P. Garramuno,...,s/d,NaN,NaN,-302.092.500,-691.301.170,Localización precisa,CONABIP,Comunitaria,1930.0,2018
1,2000010,2,2000,NaN,Bibliotecas Populares,NaN,Ciudad Autónoma de Buenos Aires,Ciudad Autonoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Helena Larroque de Roffo,...,asociacionroffo@yahoo.com.ar,NaN,NaN,-345.984.610,-584.946.900,Localización precisa,CONABIP,Comunitaria,1916.0,2018
2,2000010,2,2000,NaN,Bibliotecas Populares,NaN,Ciudad Autónoma de Buenos Aires,Ciudad Autonoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular 12 de Octubre,...,popular12deoctubre@hotmail.com,NaN,NaN,-346.132.350,-584.489.970,Localización precisa,CONABIP,Comunitaria,1910.0,2018
3,2000010,2,2000,NaN,Bibliotecas Populares,NaN,Ciudad Autónoma de Buenos Aires,Ciudad Autonoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Villa Pueyrredón Norte,...,bibliotecapueyrredon@hotmail.com,NaN,NaN,-345.758.900,-585.015.910,Localización precisa,CONABIP,Comunitaria,1916.0,2018
4,2000010,2,2000,NaN,Bibliotecas Populares,NaN,Ciudad Autónoma de Buenos Aires,Ciudad Autonoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Alberdi,...,bibliotecapopularalberdi@yahoo.com.ar,NaN,NaN,-345.961.570,-584.376.680,Localización precisa,CONABIP,Comunitaria,1910.0,2018

In [695]:
df3.pivot_table(index='Categoría', aggfunc='count', values='Nombre')

                       Nombre
Categoría
Bibliotecas Populares    2017

# **2. Procesamiento de los datos**

Normalizar toda la información de Museos, Salas de Cine y Bibliotecas
Populares, para crear una única tabla que contenga:
 
*   cod_localidad
*   id_provincia
*   id_departamento
*   categoría
*   provincia
*   localidad
*   nombre
*   domicilio
*   código postal
*   número de teléfono
*   mail
*   web

> ### A. Se normaliza el dataframe de museos:

In [696]:
# Se eliminan las columnas innecesarias:
df1.drop(columns=['Observaciones', 
                  'categoria', 
                  'piso', 
                  'cod_area',
                  'Latitud', 
                  'Longitud', 
                  'TipoLatitudLongitud', 
                  'Info_adicional', 
                  'fuente',
                  'jurisdiccion',
                  'año_inauguracion',
                  'actualizacion'], 
                   inplace=True)

In [697]:
# Se renombran las columnas restantes según indicaciones de normalización:
df1.rename(columns={'Cod_Loc': 'cod_localidad', 
                    'IdProvincia': 'id_provincia', 
                    'IdDepartamento': 'id_departamento',
                    'subcategoria': 'categoría', 
                    'direccion': 'domicilio', 
                    'CP': 'código postal',
                    'telefono': 'número de teléfono',
                    'Mail': 'mail',
                    'Web': 'web'}, inplace=True)

In [698]:
# Se cambian los tipos de datos del dataframe resultante:
df1 = df1.astype('string')

In [700]:
df1.head()

,cod_localidad,id_provincia,id_departamento,categoría,provincia,localidad,nombre,domicilio,código postal,número de teléfono,mail,web
0,6588100,6,6588,Museos,Buenos Aires,9 de julio,Archivo Y Museo Histórico Gral. Julio De Vedia,Libertad 1191,B6500EVL,425 279,archivoymuseo@yahoo.com.ar,www.portaldel9.com.ar
1,6077010,6,6077,Museos,Buenos Aires,Arrecifes,Museo Y Archivo Histórico De Arrecifes,Gerardo Risso y España,B2740FMJ,452 931,museoarrecifes@hotmail.com,s/d
2,6035010,6,6035,Museos,Buenos Aires,Avellaneda,Museo Histórico-Sacro Hno. Rogelio Scortegagna,Calle 11 (Av. San Martín) Nº 830,S3561AKT,481 200,s/d,s/d
3,6035010,6,6035,Museos,Buenos Aires,Avellaneda,Museo Municipal De Artes Plásticas De Avellaneda,"Sarmiento 101, 1 º Piso",B1870CBC,4205 9567,s/d,s/d
4,6049020,6,6049,Museos,Buenos Aires,Azul,Museo Etnográfico Y Archivo Histórico Enrique ...,Bartolomé J. Ronco 654,B7300XAA,434 811,museoazul@yahoo.com,s/d

> ### B. Se normaliza el dataframe de cines:

In [701]:
# Se eliminan las columnas innecesarias:
df2.drop(columns=['Observaciones', 
                  'Departamento',
                  'Piso', 
                  'cod_area',
                  'Latitud', 
                  'Longitud', 
                  'TipoLatitudLongitud', 
                  'Información adicional', 
                  'Fuente',
                  'tipo_gestion',
                  'Pantallas',
                  'Butacas',
                  'espacio_INCAA',
                  'año_actualizacion'], 
                   inplace=True)

In [702]:
# Se renombran las columnas restantes según indicaciones de normalización:
df2.rename(columns={'Cod_Loc': 'cod_localidad', 
                    'IdProvincia': 'id_provincia', 
                    'IdDepartamento': 'id_departamento',
                    'Categoría': 'categoría', 
                    'Provincia': 'provincia',
                    'Localidad': 'localidad',
                    'Nombre': 'nombre',
                    'Dirección': 'domicilio', 
                    'CP': 'código postal',
                    'Teléfono': 'número de teléfono',
                    'Mail': 'mail',
                    'Web': 'web'}, inplace=True)

In [703]:
# Se cambian los tipos de datos del dataframe resultante:
df2 = df2.astype('string')

In [705]:
df2.head()

,cod_localidad,id_provincia,id_departamento,categoría,provincia,localidad,nombre,domicilio,código postal,número de teléfono,mail,web
0,10049030,10,10049,Salas de cine,Catamarca,Catamarca,Cinemacenter,Intendente Mamerto Medina 220,4700,s/d,s/d,http://www.cinemacenter.com.ar/
1,10091150,10,10091,Salas de cine,Catamarca,Santa María,Centro Cultural San Agustín,San Martin 173,4139,421511,s/d,s/d
2,22140060,22,22140,Salas de cine,Chaco,Resistencia,Los Cines De La Costa,Av. Sarmiento 2600,3500,472200,administracion@loscinesdelacosta.com.ar,http://resistencia.loscinesdelacosta.com.ar/
3,26091020,26,26091,Salas de cine,Chubut,Sarmiento,Deborah Jones De Williams,Reg. Inf. Mec. 25 Esquina 20 De Junio,9020,4897169,culturasarmiento@hotmail.com,http://www.culturachubut.gob.ar/…/convo-evita-...
4,18007010,18,18007,Salas de cine,Corrientes,Bella Vista,Fantasio,Salta 1059,3432,s/d,nuevocineteatrorex@gmail.com,https://www.facebook.com/CineFantasioBellaVista/

> ### C. Se normaliza el dataframe de bibliotecas:

In [706]:
df3.dtypes

Cod_Loc                    int64
IdProvincia                int64
IdDepartamento             int64
Observacion              float64
Categoría                 object
Subcategoria             float64
Provincia                 object
Departamento              object
Localidad                 object
Nombre                    object
Domicilio                 object
Piso                     float64
CP                        object
Cod_tel                   object
Teléfono                  object
Mail                      object
Web                      float64
Información adicional    float64
Latitud                   object
Longitud                  object
TipoLatitudLongitud       object
Fuente                    object
Tipo_gestion              object
año_inicio               float64
Año_actualizacion          int64
dtype: object

In [707]:
# Se eliminan las columnas innecesarias:
df3.drop(columns=['Observacion', 
                  'Subcategoria',
                  'Departamento',
                  'Piso',
                  'Cod_tel',
                  'Latitud', 
                  'Longitud', 
                  'TipoLatitudLongitud', 
                  'Información adicional', 
                  'Fuente',
                  'Tipo_gestion',
                  'año_inicio',
                  'Año_actualizacion'], 
                   inplace=True)

In [708]:
# Se renombran las columnas restantes según indicaciones de normalización:
df3.rename(columns={'Cod_Loc': 'cod_localidad', 
                    'IdProvincia': 'id_provincia', 
                    'IdDepartamento': 'id_departamento',
                    'Categoría': 'categoría', 
                    'Provincia': 'provincia',
                    'Localidad': 'localidad',
                    'Nombre': 'nombre',
                    'Domicilio': 'domicilio', 
                    'CP': 'código postal',
                    'Teléfono': 'número de teléfono',
                    'Mail': 'mail',
                    'Web': 'web'}, inplace=True)

In [709]:
# Se cambian los tipos de datos del dataframe resultante:
df3 = df3.astype('string')

In [711]:
df3.head(2)

,cod_localidad,id_provincia,id_departamento,categoría,provincia,localidad,nombre,domicilio,código postal,número de teléfono,mail,web
0,70049060,70,70049,Bibliotecas Populares,San Juan,Rodeo,Biblioteca Popular Juan P. Garramuno,Santo Domingo,5465,s/d,s/d,s/d
1,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Helena Larroque de Roffo,Simbrón 3058,C1417EUD,45010078,asociacionroffo@yahoo.com.ar,s/d

> ### D. Se unen los tres dataframes en una única tabla:

In [712]:
frames = [df1, df2, df3]

df = pd.concat(frames, ignore_index=True)

In [713]:
df.head(1500)

,cod_localidad,id_provincia,id_departamento,categoría,provincia,localidad,nombre,domicilio,código postal,número de teléfono,mail,web
0,6588100,6,6588,Museos,Buenos Aires,9 de julio,Archivo Y Museo Histórico Gral. Julio De Vedia,Libertad 1191,B6500EVL,425 279,archivoymuseo@yahoo.com.ar,www.portaldel9.com.ar
1,6077010,6,6077,Museos,Buenos Aires,Arrecifes,Museo Y Archivo Histórico De Arrecifes,Gerardo Risso y España,B2740FMJ,452 931,museoarrecifes@hotmail.com,s/d
2,6035010,6,6035,Museos,Buenos Aires,Avellaneda,Museo Histórico-Sacro Hno. Rogelio Scortegagna,Calle 11 (Av. San Martín) Nº 830,S3561AKT,481 200,s/d,s/d
3,6035010,6,6035,Museos,Buenos Aires,Avellaneda,Museo Municipal De Artes Plásticas De Avellaneda,"Sarmiento 101, 1 º Piso",B1870CBC,4205 9567,s/d,s/d
4,6049020,6,6049,Museos,Buenos Aires,Azul,Museo Etnográfico Y Archivo Histórico Enrique ...,Bartolomé J. Ronco 654,B7300XAA,434 811,museoazul@yahoo.com,s/d
...,...,...,...,...,...,...,...,...,...,...,...,...
1495,6847020,6,6847,Salas de cine,Buenos Aires,Tres Lomas,Cine Teatro Español,Monteverde 257,6409,420855,rominaamutio@hotmail.com,https://www.facebook.com/cinetreslomas/
1496,6658010,6,6658,Salas de cine,Buenos Aires,Quilmes,Showcase,Olavarria 180,1878,42576006,naiarg@naiarg.com.ar,https://www.todoshowcase.com/
1497,6084020,6,6084,Salas de cine,Buenos Aires,Benito Juarez,Centro Cultural Atilio Marinelli,Otamendi Y Av. San Martin,7020,5313467,ccatiliomarinelli@gmail.com,https://www.facebook.com/Centro-Cultural-Atili...
1498,6791050,6,6791,Salas de cine,Buenos Aires,Tandil,Cinemacenter,Panama 351,7000,424251,centertandil@cinemacenter.com.ar,http://www.cinemacenter.com.ar/
1499,6638040,6,6638,Salas de cine,Buenos Aires,Pilar,Village,Panamericana Ac. Norte Km 50,1629,4650505,village.pilar@village.com.ar,https://www.villagecines.com/

In [714]:
def correct(x):
    if x=='Santa Fe':
      return 'Santa Fé'
    elif x=='Tierra del Fuego':
      return 'Tierra del Fuego, Antártida e Islas del Atlántico Sur'
    else:
      return x

In [715]:
df['provincia'] = df['provincia'].apply(correct)

In [716]:
df['provincia'] = df['provincia'].astype('string')

In [717]:
#Se exporta el dataframe a un nuevo archivo excel
df.to_excel('tabla única - museos_cines_bibliotecas.xlsx', 
              sheet_name='Tabla única')

In [718]:
df.dtypes

cod_localidad         string
id_provincia          string
id_departamento       string
categoría             string
provincia             string
localidad             string
nombre                string
domicilio             string
código postal         string
número de teléfono    string
mail                  string
web                   string
dtype: object

> ### E. Procesar los datos conjuntos para poder generar una tabla con la siguiente información:
* Cantidad de registros totales por categoría
* Cantidad de registros totales por fuente
* Cantidad de registros por provincia y categoría

In [719]:
df_countbycat = df.pivot_table(index='categoría', aggfunc='count', values='nombre')

In [720]:
df_countbycat.reset_index(inplace=True)
df_countbycat.rename(columns={'nombre': 'cantidad'}, inplace=True)
df_countbycat

               categoría  cantidad
0  Bibliotecas Populares      2017
1                 Museos      1182
2          Salas de cine       329

In [721]:
#Se exporta el dataframe a un nuevo archivo excel
df_countbycat.to_excel('registros totales por categoría.xlsx', 
              sheet_name='RT por Categoría')

In [722]:
'df_countbysc' #Falta registros totales por fuente

'df_countbysc'

In [723]:
df_countbyprov = df.pivot_table(index=['categoría', 'provincia'], aggfunc='count', values='nombre')

In [724]:
df_countbyprov.reset_index(inplace=True)
df_countbyprov.rename(columns={'nombre': 'cantidad'}, inplace=True)

In [725]:
df_countbyprov

,categoría,provincia,cantidad
0,Bibliotecas Populares,Buenos Aires,543
1,Bibliotecas Populares,Catamarca,38
2,Bibliotecas Populares,Chaco,70
3,Bibliotecas Populares,Chubut,48
4,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,43
...,...,...,...
67,Salas de cine,Santa Cruz,5
68,Salas de cine,Santa Fé,23
69,Salas de cine,Santiago del Estero,5
70,Salas de cine,"Tierra del Fuego, Antártida e Islas del Atlánt...",3
71,Salas de cine,Tucumán,8

In [726]:
df_countbyprov.to_excel('registros por provincia y categoría.xlsx', 
              sheet_name='Por Prov-Cat')

> ### F. Procesar la información de cines para poder crear una tabla que contenga:
* Provincia
* Cantidad de pantallas
* Cantidad de butacas
* Cantidad de espacios INCAA

In [727]:
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=1o8QeMOKWm4VeZ9VecgnL8BWaOlX5kdCDkXoAph37sQM&output=csv')
open('df_cines.csv', 'wb').write(r.content)
df_cines = pd.read_csv('df_cines.csv')
df_cines.head()

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,Categoría,Provincia,Departamento,Localidad,Nombre,Dirección,...,Información adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,año_actualizacion
0,10049030,10,10049,NaN,Salas de cine,Catamarca,Capital,Catamarca,Cinemacenter,Intendente Mamerto Medina 220,...,NaN,-2.846.473.700,-6.580.067.500,Localización precisa,INCAA / SInCA,Privado comercial,5,743,NaN,2018
1,10091150,10,10091,NaN,Salas de cine,Catamarca,Santa Maria,Santa María,Centro Cultural San Agustín,San Martin 173,...,NaN,-2.669.385.900,-6.604.905.800,Localización precisa,INCAA / SInCA,Privado comercial,1,440,0,2018
2,22140060,22,22140,NaN,Salas de cine,Chaco,San Fernando,Resistencia,Los Cines De La Costa,Av. Sarmiento 2600,...,NaN,-2.743.099.500,-5.896.267.200,Localización precisa,INCAA / SInCA,Privado comercial,5,820,NaN,2018
3,26091020,26,26091,NaN,Salas de cine,Chubut,Sarmiento,Sarmiento,Deborah Jones De Williams,Reg. Inf. Mec. 25 Esquina 20 De Junio,...,NaN,-4.559.437.400,-6.906.959.400,Localización precisa,INCAA / SInCA,Público municipal,1,80,NaN,2018
4,18007010,18,18007,NaN,Salas de cine,Corrientes,Bella Vista,Bella Vista,Fantasio,Salta 1059,...,NaN,-2.850.849.400,-5.904.546.400,Localización precisa,INCAA / SInCA,Privado comercial,1,240,NaN,2018

In [728]:
df_cines = df_cines[['Provincia', 'Pantallas', 'Butacas', 'espacio_INCAA']]
df_cines.head()

    Provincia  Pantallas  Butacas espacio_INCAA
0   Catamarca          5      743           NaN
1   Catamarca          1      440             0
2       Chaco          5      820           NaN
3      Chubut          1       80           NaN
4  Corrientes          1      240           NaN

In [729]:
'''# Se cambian los valores null por el string "s/d":
df_cines.fillna('0', inplace=True)'''

In [730]:
df_cines.head(400)

        Provincia  Pantallas  Butacas espacio_INCAA
0       Catamarca          5      743             0
1       Catamarca          1      440             0
2           Chaco          5      820             0
3          Chubut          1       80             0
4      Corrientes          1      240             0
..            ...        ...      ...           ...
324  Buenos Aires          1        0             0
325  Buenos Aires          8     2037             0
326  Buenos Aires          1      430            si
327     Catamarca          1     1103            si
328  Buenos Aires          1      390            SI

[329 rows x 4 columns]

In [731]:
a = df_cines['espacio_INCAA'].unique()
print(sorted(a))

['0', 'SI', 'si']

In [732]:
def unique(x):
    if x=='si':
      return '1'
    elif x=='SI':
      return '1'
    else:
      return x

In [733]:
df_cines['espacio_INCAA'] = df_cines['espacio_INCAA'].apply(unique)

In [734]:
df_cines.head(400)

        Provincia  Pantallas  Butacas espacio_INCAA
0       Catamarca          5      743             0
1       Catamarca          1      440             0
2           Chaco          5      820             0
3          Chubut          1       80             0
4      Corrientes          1      240             0
..            ...        ...      ...           ...
324  Buenos Aires          1        0             0
325  Buenos Aires          8     2037             0
326  Buenos Aires          1      430             1
327     Catamarca          1     1103             1
328  Buenos Aires          1      390             1

[329 rows x 4 columns]

In [735]:
df_cines['Provincia'] = df_cines['Provincia'].astype('string')
df_cines['espacio_INCAA'] = df_cines['espacio_INCAA'].astype('int')
df_cines.dtypes

Provincia        string
Pantallas         int64
Butacas           int64
espacio_INCAA     int32
dtype: object

In [736]:
#Se chequea que no haya valores incorrectos en la columna "Provincia"
a = df_cines['Provincia'].unique()
print(sorted(a))

['Buenos Aires', 'Catamarca', 'Chaco', 'Chubut', 'Ciudad Autónoma de Buenos Aires', 'Corrientes', 'Córdoba', 'Entre Ríos', 'Formosa', 'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén', 'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe', 'Santiago del Estero', 'Tierra del Fuego', 'Tucumán']

In [737]:
df_cines = df_cines.pivot_table(index='Provincia', aggfunc='sum', values=['Pantallas', 'Butacas', 'espacio_INCAA'])

In [738]:
#Se resetea el index del dataframe df_cines para incluir "Provincia" como columna
df_cines.reset_index(inplace=True)
df_cines.dtypes

Provincia        string
Butacas           int64
Pantallas         int64
espacio_INCAA     int32
dtype: object

In [739]:
df_cines

                          Provincia  Butacas  Pantallas  espacio_INCAA
0                      Buenos Aires    93112        358             20
1                         Catamarca     3200         12              1
2                             Chaco     2469         14              1
3                            Chubut     2682         10              4
4   Ciudad Autónoma de Buenos Aires    31386        153              3
5                        Corrientes     3370         17              1
6                           Córdoba    20799        105              2
7                        Entre Ríos     4086         17              2
8                           Formosa     1184          4              1
9                             Jujuy     2277          5              2
10                         La Pampa     2071          6              2
11                         La Rioja     1477         10              1
12                          Mendoza    11116         47              2
13                         Misiones     2177         10              2
14                          Neuquén     3959         12              3
15                        Río Negro     2474         10              4
16                            Salta     4665         23              2
17                         San Juan     4617         22              2
18                         San Luis     2601         12              0
19                       Santa Cruz     1256          7              2
20                         Santa Fe    20131         79              3
21              Santiago del Estero     2928         11              1
22                 Tierra del Fuego     1445          6              0
23                          Tucumán     5161         24              2

In [740]:
df_cines.to_excel('cines.xlsx', 
              sheet_name='cines')

# 3. Creación de la base de datos y sus tablas:
Para disponibilizar la información obtenida y procesada en los pasos previos, tu
proyecto deberá tener una base de datos que cumpla con los siguientes requisitos:
* La base de datos debe ser PostgreSQL
* Se deben crear los scripts .sql para la creación de las tablas.
* Se debe crear un script .py que ejecute los scripts .sql para facilitar el deploy.
* Los datos de la conexión deben poder configurarse fácilmente para facilitar el deploy en un nuevo ambiente de ser necesario.

### a. Se crea la conexión y la base de datos

In [741]:
#Se importa el módulo, se establece la conexión y se crea la base de datos
import psycopg2 as pg
  
# Se establece la conexión
conn = pg.connect(
    user='postgres',
    password='sjgm1324',
    host='localhost',
    port= '5432'
)
  
conn.autocommit = True
  
# Se crea el cursor
cursor = conn.cursor()

In [742]:
# Query para la creación de la base de datos 
sql = '''CREATE DATABASE alkemy''';
  
# Se ejecuta la query
try: 
    cursor.execute(sql)
    print("La base de datos 'alkemy' fue creada exitosamente!!");
except:
    print("La base de datos 'alkemy' ya existe!")
  
# Se cierra la conexión
conn.close()

La base de datos 'alkemy' ya existe!

### b. Se crea la "tabla_01"

In [743]:
# Query para la creación de la tabla 
sql = '''CREATE TABLE tabla_01 (
            cod_localidad VARCHAR(100),
            id_provincia VARCHAR(100),
            id_departamento VARCHAR(100),
            categoría VARCHAR(100),
            provincia VARCHAR(100),
            localidad VARCHAR(100),
            nombre VARCHAR(100),
            domicilio VARCHAR(100),
            codigo_postal VARCHAR(100),
            numero_teléfono VARCHAR(100),
            mail VARCHAR(100),
            web VARCHAR(100),
            fecha_carga DATE NOT NULL DEFAULT CURRENT_DATE
            )
           ''';
  
# Se ejecuta la query
try: 
    cursor.execute(sql)
    print("La 'tabla_01' fue creada exitosamente!!")
except:
    print("La 'tabla_01' ya existe!")


# Se cierra la conexión
conn.close()

La 'tabla_01' ya existe!

### n. Se crea la "tabla_cines"

In [744]:
# Query para la creación de la tabla 
sql = '''CREATE TABLE tabla_cines (
            Provincia VARCHAR(100) NOT NULL,
            Butacas INT NOT NULL,
            Pantallas INT NOT NULL,
            espacio_INCAA INT NOT NULL,
            fecha_carga DATE NOT NULL DEFAULT CURRENT_DATE
            )
           ''';
  
# Se ejecuta la query
try: 
    cursor.execute(sql)
    print("La 'tabla_cines' fue creada exitosamente!!")
except:
    print("La 'tabla_cines' ya existe!")

# Se cierra la conexión
conn.close()

La 'tabla_cines' ya existe!

# 4. Actualización de la base de datos:
Luego de normalizar la información y generar las demás tablas, las mismas se
deben actualizar en la base de datos. Para eso, es importante tener en cuenta que:
* Todos los registros existentes deben ser reemplazados por la nueva información.
* Dentro de cada tabla debe indicarse en una columna adicional la fecha de carga.
* Los registros para los cuales la fuente no brinda información deben cargarse como nulos.

In [745]:
#create Index column to use as primary key
df.reset_index(inplace=True)
df.rename(columns={'index':'Index'}, inplace =True)

In [746]:
from sqlalchemy import create_engine

#load python script that batch loads pandas df to sql
import io

address = 'postgresql://postgres:sjgm1324@localhost/alkemy'
engine = create_engine(address)
connection = engine.raw_connection()
cursor = connection.cursor()

#create the table but first drop if it already exists
command = '''DROP TABLE IF EXISTS tabla_01;
            CREATE TABLE tabla_01 (
                Index SERIAL PRIMARY KEY,
                cod_localidad VARCHAR(100),
                id_provincia VARCHAR(100),
                id_departamento VARCHAR(100),
                categoría VARCHAR(100),
                provincia VARCHAR(100),
                localidad VARCHAR(100),
                nombre VARCHAR(200),
                domicilio VARCHAR(100),
                codigo_postal VARCHAR(100),
                numero_teléfono VARCHAR(100),
                mail VARCHAR(100),
                web VARCHAR(200)
            );'''

cursor.execute(command)
connection.commit()
#stream the data using 'to_csv' and StringIO(); then use sql's 'copy_from' function
output = io.StringIO()
#ignore the index
df.to_csv(output, sep='\t', header=False, index=False)
#jump to start of stream
output.seek(0)
contents = output.getvalue()
cur = connection.cursor()
cur.copy_from(output, 'tabla_01')  
connection.commit()

cur.close()

BadCopyFileFormat: se encontró un salto de línea literal en los datos
HINT:  Use «\n» para representar un salto de línea.
CONTEXT:  COPY tabla_01, línea 1511

In [ ]:
#stream the data using 'to_csv' and StringIO(); then use sql's 'copy_from' function
output = io.StringIO()
#ignore the index
df.to_csv(output, sep='\t', header=False, index=False)
#jump to start of stream
output.seek(0)
contents = output.getvalue()
cur = connection.cursor()
cur.copy_from(output, 'tabla_01')  
connection.commit()

In [ ]:
'''from sqlalchemy import create_engine
import psycopg2 as pg
#load python script that batch loads pandas df to sql
import io

address = 'postgresql://<username>:<pswd>@<host>:<port>/<database>'
engine = create_engine(address)
connection = engine.raw_connection()
cursor = connection.cursor()

#df is the dataframe containing an index and the columns "Event" and "Day"
#create Index column to use as primary key
df.reset_index(inplace=True)
df.rename(columns={'index':'Index'}, inplace =True)

#create the table but first drop if it already exists
command = '''DROP TABLE IF EXISTS localytics_app2;
CREATE TABLE localytics_app2
(
"Index" serial primary key,
"Event" text,
"Day" timestamp without time zone,
);'''
cursor.execute(command)
connection.commit()

#stream the data using 'to_csv' and StringIO(); then use sql's 'copy_from' function
output = io.StringIO()
#ignore the index
df.to_csv(output, sep='\t', header=False, index=False)
#jump to start of stream
output.seek(0)
contents = output.getvalue()
cur = connection.cursor()
#null values become ''
cur.copy_from(output, 'localytics_app2', null="")    
connection.commit()
cur.close()'''